<h2>Name: Sandhya Manda</h2>
<h2>Student ID: 86719</h2>
<p>I learned about some security techniques which are used to provide the security to the network. And with the miniproject and final project I became aware of realtime hacking attacks and methods used to fix the system issues. From this course, i got practical experience on creating applications, pushing source code and deploying the applications to cloud platform and I became aware of the most popular github and heroku services. </p>
